<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= @heading %></h3>
      </div>
    </div>


    <div class="clearfix"></div>
    <%= @link_only %>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <% if @sub_heading %>
                <h2><%= @sub_heading.html_safe %></h2>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= yield :content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>