<div class="container term">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">
        EWL - Earn Without Loss (Privacy Policy / Terms and Conditions)
      </h2>
      <p>Website terms and conditions may perform a number of different roles. They may be used to satisfy legal disclosure obligations, to grant users rights to use website materials, to impose acceptable use obligations, to limit (or attempt to limit) warranties and disclaim (or attempt to disclaim) liabilities, and more generally to structure the legal relationships between the website operator and users.<br><br>

        This terms and conditions document covers some of the same ground as our website disclaimer and website copyright notice documents. It should be used in conjunction with a privacy policy document.<br>

      <ul>The terms and conditions contain the following sections.</ul><br>

      <li>Introduction</li>
      <li>License to use website</li>
      <li>Acceptable use</li>
      <li>Restricted access</li>
      <li>User content</li>
      <li>Limitations of liability</li>
      <li>Exceptions</li>
      <li>Reasonableness</li>
      <li>Other parties</li>
      <li>Unenforceable provisions</li>
      <li>Indemnity</li>
      <li>Breaches of these terms and conditions</li>
      <li>Variation</li>
      <li>Assignment</li>
      <li>Severability</li>
      <li>Entire agreement</li>
      <li>Law and jurisdiction</li>
      <li>Registrations and authorizations</li>
      <li>These website terms and conditions</li><br>

      Website T&Cs by SEQ Legal LLP is licensed under a <span>Creative Commons Attribution 2.0 UK: England & Wales License</span>. Based on a work at <span>www.contractology.com</span>. You must retain the credit in all versions and derivatives of the free website T&Cs. If you want to use this template without a credit, you can obtain a license to do so here: <span>Free Document License</span>.</p>
    </div>
  </div>
</div>

<div class="copyright-text text-center">
  <p>&copy; 2016 Copyright EWL</p>
</div>
