<!-- Slider area starts -->
<section id="slider">
  <div id="carousel-example-generic" class="carousel slide carousel-fade">

    <div class="carousel-inner" role="listbox">

      <!-- Item 1 -->
      <div class="item active slide1">
        <div class="table">
          <div class="table-cell">
            <div class="intro-text">
              <%=image_tag(asset_path('EWL-Large.png')) %>
              <div class="title clearfix">
                <h2>Want to earn <br> money without</h2>
                <h1>Loss</h1>
              </div>
              <a href="https://play.google.com/store/apps/details?id=com.eearn" target="_blank" class="btn btn-trnsp btn-big">DOWNLOAD NOW</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="item slide2">
        <div class="table">
          <div class="table-cell">
            <div class="intro-text">
              <%=image_tag(asset_path('EWL-Large.png')) %>
              <div class="title clearfix">
                <h2>Want to earn <br> money without</h2>
                <h1>Loss</h1>
              </div>
              <a href="https://play.google.com/store/apps/details?id=com.eearn" target="_blank" class="btn btn-trnsp btn-big">DOWNLOAD NOW</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="item slide3">
        <div class="table">
          <div class="table-cell">
            <div class="intro-text">
              <%=image_tag(asset_path('EWL-Large.png')) %>
              <div class="title clearfix">
                <h2>Want to earn <br> money without</h2>
                <h1>Loss</h1>
              </div>
              <a href="https://play.google.com/store/apps/details?id=com.eearn" target="_blank" class="btn btn-trnsp btn-big">DOWNLOAD NOW</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Wrapper for slides-->


    <!-- Carousel Pagination -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <!-- Slider left right button -->
    <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <img src="assets/img/left-arrow.png" alt="">
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <img src="assets/img/right-arrow.png" alt="">
    </a> -->

  </div>
</section>
<!-- Slider area ends -->